@{
    ViewBag.Title = "Home Page";
}


<div class="card text-center bg-light">
    <h1>Diario Web</h1>
</div>

<body>
    <div style="margin: 20px 10px 20px 10px;">
        <div class="row">
            <div class="col-8">
                @foreach (var publicacion in ViewBag.publicaciones) {
                    <div style="margin: 20px 0 20px 0;">
                        <h3>
                            @Html.ActionLink((string)publicacion.Titulo, "ViewPublication", new { id = publicacion.Id }, new { @class = "link" }) | @publicacion.Fecha
                        </h3>
                       

                        <img src="@publicacion.LinkImg" class="img-fluid w-100" style="border: solid 1px black" />
                        <p style="margin: 3px 0 3px 0;">
                            @publicacion.Resumen
                        </p>
                        <div class="card">
                            <div class="card-body">
                                <p>
                                    @if (ViewBag.comentarios.ContainsKey(publicacion.Id)) {
                                        <strong>Autor:</strong> @ViewBag.autores[publicacion.AutorFK] <strong>Comentarios: </strong> @ViewBag.comentarios[publicacion.Id]
                                    } else {
                                        <strong>Autor:</strong> @ViewBag.autores[publicacion.AutorFK] <strong>Comentarios: 0</strong>
                                    }
                                </p>
                            </div>

                        </div>
                    </div>

                }
            </div>

            <div class="panel rounded col-4 bg-secondary text-white" style="margin-top: 30px; max-height: auto">
                <h3>Categorias</h3>
                <ul>
                    @foreach (var cat in ViewBag.listaCategorias) {
                        <li>@Html.ActionLink((string)cat.NombreCategoria, "ViewCategoria", new { id = cat.Id }, new { @class = "link" })</li>
                    }
                </ul>


                <hr />

                <h3>Autores</h3>
                <ul>
                    @foreach (var aut in ViewBag.listaAutores) {
                        <li>@Html.ActionLink((string)aut.NombreCompleto, "ViewAutor", new { id = aut.Id }, new { @class = "link" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <script>
        function checkSize(maxSize) {

        }
    </script>

</body>

