@{
    ViewBag.Title = "Home Page";
}


<div class="card text-center bg-light">
    <h1>Diario Web</h1>
</div>


<div class="container" style="margin: 20px 10px 20px 10px;">
    <div class="row">
        <div class="col-10">
            @for (int i = 0; i < ViewBag.pubSize; i++) {
            <div style="margin: 20px 0 20px 0;">
                <h3>@ViewBag.publicaciones[i].Titulo | @ViewBag.publicaciones[i].Fecha</h3>
                <img src="@ViewBag.publicaciones[i].LinkImg" class="img-fluid w-100" style="border: solid 1px black" />
                <p style="margin: 3px 0 3px 0;">
                    @ViewBag.publicaciones[i].Resumen
                </p>
                <div class="card">
                    <div class="card-body">
                        <p>
                            @if (ViewBag.comentarios.ContainsKey(ViewBag.publicaciones[i].Id)) {
                                <strong>Autor:</strong> @ViewBag.autores[ViewBag.publicaciones[i].AutorFK]  <strong>Comentarios: </strong>  @ViewBag.comentarios[ViewBag.publicaciones[i].Id]
                            } else {
                                <strong>Autor:</strong> @ViewBag.autores[ViewBag.publicaciones[i].AutorFK] <strong>Comentarios: 0</strong> 
                            }
                        </p>
                    </div>
                    
                </div>
            </div>
                
            }
        </div>

        <div class="panel rounded col-2 bg-secondary text-white" style="margin-top: 30px; max-height: 300px;">
            <h3>Categorias</h3>
            <p>
                <ul>
                    <li>PHP</li>
                    <li>PHP</li>
                    <li>PHP</li>
                    <li>PHP</li>
                </ul>
            </p>

            <hr />

            <h3>Autores</h3>
            <p>
                <ul>
                    <li>Sebas</li>
                    <li>Carlos</li>
                </ul>
            </p>
        </div>
    </div>
</div>
